<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Salvatore_Bank1</display-name>
  <welcome-file-list>
    <welcome-file>mainmenu.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BankCrudController</display-name>
    <servlet-name>BankCrudController</servlet-name>
    <servlet-class>com.bank.controller.BankCrudController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankCrudController</servlet-name>
    <url-pattern>/bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountController</display-name>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>com.bank.controller.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginController</display-name>
    <servlet-name>CustomerLoginController</servlet-name>
    <servlet-class>com.bank.controller.CustomerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationsuccessController</display-name>
    <servlet-name>RegistrationsuccessController</servlet-name>
    <servlet-class>com.bank.controller.RegistrationsuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationsuccessController</servlet-name>
    <url-pattern>/rsuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenAccountSuccessController</display-name>
    <servlet-name>OpenAccountSuccessController</servlet-name>
    <servlet-class>com.bank.controller.OpenAccountSuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAccountSuccessController</servlet-name>
    <url-pattern>/open</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginController</display-name>
    <servlet-name>EmployeeLoginController</servlet-name>
    <servlet-class>com.bank.controller.EmployeeLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginController</servlet-name>
    <url-pattern>/employeelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountOpenController</display-name>
    <servlet-name>AccountOpenController</servlet-name>
    <servlet-class>com.bank.controller.AccountOpenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountOpenController</servlet-name>
    <url-pattern>/openacc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositController</display-name>
    <servlet-name>DepositController</servlet-name>
    <servlet-class>com.bank.controller.DepositeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositController</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositSuccessController</display-name>
    <servlet-name>DepositSuccessController</servlet-name>
    <servlet-class>com.bank.controller.DepositSuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositSuccessController</servlet-name>
    <url-pattern>/deposits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawController</display-name>
    <servlet-name>WithdrawController</servlet-name>
    <servlet-class>com.bank.controller.WithdrawController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawController</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawSuccessController</display-name>
    <servlet-name>WithdrawSuccessController</servlet-name>
    <servlet-class>com.bank.controller.WithdrawSuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawSuccessController</servlet-name>
    <url-pattern>/withdraws</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatementController</display-name>
    <servlet-name>StatementController</servlet-name>
    <servlet-class>com.bank.controller.StatementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatementController</servlet-name>
    <url-pattern>/statement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionController</display-name>
    <servlet-name>TransactionController</servlet-name>
    <servlet-class>com.bank.controller.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionController</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
</web-app>